<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdutcm.healthy.dataobject.mapper.OpenApiMapper">
    <select id="selectPressure" parameterType="com.cdutcm.healthy.dataobject.open.OpenApiParam"
            resultType="com.cdutcm.healthy.dataobject.open.PressureVO">
        SELECT
        pressure_datetime AS datetime,
        high_pressure AS systolic,
        low_pressure AS diastolic,
        location,
        user_sex AS sex,
        birthday,
        height,
        weight
        FROM h_pressure, h_user
        <where>
            <if test="true">and h_pressure.openid = h_user.openid</if>
            <if test="datetime != null and datetime != ''">and pressure_datetime between concat(#{datetime} ,' 00:00:00') and concat(#{datetime} ,' 23:59:59')</if>
            <if test="sex != null">and user_sex = #{sex}</if>
            <if test="age != null">and (YEAR(SYSDATE()) - YEAR(birthday)) = #{age}</if>
            <if test="province != null and province != ''">and location like '%${province}省%'</if>
            <if test="city != null and city != ''">and location like '%${city}市%'</if>
        </where>
    </select>

    <select id="selectSugar" parameterType="com.cdutcm.healthy.dataobject.open.OpenApiParam"
            resultType="com.cdutcm.healthy.dataobject.open.SugarVO">
        SELECT
        sugar_datetime AS datetime,
        sugar_value,
        location,
        user_sex AS sex,
        birthday,
        height,
        weight
        FROM h_sugar, h_user
        <where>
            <if test="true">and h_sugar.openid = h_user.openid</if>
            <if test="datetime != null and datetime != ''">and sugar_datetime between concat(#{datetime} ,' 00:00:00') and concat(#{datetime} ,' 23:59:59')</if>
            <if test="sex != null">and user_sex = #{sex}</if>
            <if test="age != null">and (YEAR(SYSDATE()) - YEAR(birthday)) = #{age}</if>
            <if test="province != null and province != ''">and location like '%${province}省%'</if>
            <if test="city != null and city != ''">and location like '%${city}市%'</if>
        </where>
    </select>

    <select id="selectObesity" parameterType="com.cdutcm.healthy.dataobject.open.OpenApiParam"
            resultType="com.cdutcm.healthy.dataobject.open.ObesityVO">
        SELECT
        obesity_datetime AS datetime,
        obesity_value,
        location,
        user_sex AS sex,
        birthday,
        height
        FROM h_obesity, h_user
        <where>
            <if test="true">and h_obesity.openid = h_user.openid</if>
            <if test="datetime != null and datetime != ''">and obesity_datetime between concat(#{datetime} ,' 00:00:00') and concat(#{datetime} ,' 23:59:59')</if>
            <if test="sex != null">and user_sex = #{sex}</if>
            <if test="age != null">and (YEAR(SYSDATE()) - YEAR(birthday)) = #{age}</if>
            <if test="province != null and province != ''">and location like '%${province}省%'</if>
            <if test="city != null and city != ''">and location like '%${city}市%'</if>
        </where>
    </select>

    <select id="selectCoronary" parameterType="com.cdutcm.healthy.dataobject.open.OpenApiParam"
            resultType="com.cdutcm.healthy.dataobject.open.CoronaryVO">
        SELECT
        h_coronary.create_time AS datetime,
        tc,
        coronary_smoke         AS smoke,
        hdl_c,
        sbp,
        location,
        coronary_sex           AS sex,
        coronary_age           AS age
        FROM h_coronary
        <where>
            <if test="datetime != null and datetime != ''">and h_coronary.create_time between concat(#{datetime} ,' 00:00:00') and concat(#{datetime} ,' 23:59:59')</if>
            <if test="sex != null">and user_sex = #{sex}</if>
            <if test="age != null">and (YEAR(SYSDATE()) - YEAR(birthday)) = #{age}</if>
            <if test="province != null and province != ''">and location like '%${province}省%'</if>
            <if test="city != null and city != ''">and location like '%${city}市%'</if>
        </where>
    </select>
</mapper>